*,
:before,
:after {
  box-sizing: border-box
}

:root,
:root.light {
  color-scheme: light;

  --global-primary-color: #3c3c43;
  --global-normal-color: #67676c;
  --global-primary-bg: white;

  color: var(--global-primary-color);
  background-color: var(--global-primary-bg);
}

:root.dark {
  color-scheme: dark;
  --global-primary-color: #dfdfd6;
  --global-normal-color: #98989f;
  --global-primary-bg: #0009;
}

button {
  padding: 4px 8px;
  font-size: 16px;
  background-color: var(--global-primary-bg);
  border: 1px solid;
  border-radius: 6px;
}

.card {
  padding: 24px;
  border: 1px solid gray;
  border-radius: 8px;
}

.card .card_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.card .card_body {
  display: flex;
  align-items: center;
  gap: 12px;
}

body {
  background-color: #dfdfd6;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}
